*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: $primary-font;
  font-size: $fz-body2;
  font-weight: $fw-regular;
  line-height: 150%;
  background: $color-base;
  color: $color-text;
}

main {
  flex: 1 1 auto;
}

.container {
  max-width: $container_width;
  width: 100%;
  padding: 0 72px;
  margin: 0 auto;

  @include media-query($medium-down) {
    padding: 0 40px;
  }

  @include media-query($small) {
    padding: 0 20px;
  }
}

.h1 {
  font-size: $fz-h1;
  font-weight: $fw-bold;

  @include media-query($small) {
    font-size: $fz-h1-small;
  }

  @include media-query($extra-small) {
    font-size: $fz-h1-extra-small;
  }
}

.h2 {
  font-size: $fz-h2;
  font-weight: $fw-bold;

  @include media-query($extra-small) {
    font-size: $fz-h2-extra-small;
  }
}

.h3 {
  font-size: $fz-h3;
  font-weight: $fw-bold;
}

.h4 {
  font-size: $fz-h4;
  font-weight: $fw-bold;
}

.h5 {
  font-size: $fz-h5;
  font-weight: $fw-bold;
}

.h6 {}

//========= CONTAINERS
/* Default container by center */


.container-full--right {
  max-width: 100%;
  width: 100%;
  padding-left: calc(50% - ($container_width / 2));
  margin-left: 20px;

  @media screen and (max-width: 768px) {
    margin-left: 16px;
  }
}

.container-full--left {
  max-width: 100%;
  width: 100%;
  padding-right: calc(50% - ($container_width / 2));
  margin-right: 20px;

  @media screen and (max-width: 768px) {
    margin-right: 16px;
  }
}

//========================================================================
svg {
  path {
    fill: currentColor;
  }
}

//Whitespace bug
img {
  vertical-align: middle;
}

//Lazyload quality bug
img[data-sizes] {
  display: none;
}

.no-js {
  display: none;
}


.logo {
  display: inline-block;

  .logo__image {
    min-width: 100%
  }
}

//My links

.link {
  color: $color-text;
  transition: $transition-duration;

  &:hover {
    color: $color-link-hover;
  }
}

.social-network {
  display: flex;
  gap: 16px;

  .social-network__icon {
    width: 24px;
    min-width: 100%;
    height: 24px;
    min-height: 100%;
  }
}
