$header-logo-size: 78.4px;

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 10;

  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 72px;
    gap: 48px;
  }

  .header__logo {
    color: $color-text;
    flex: 0 0 $header-logo-size;
    transition: $transition-duration;

    &:hover {
      color: $color-link-hover;
    }
  }

  .header__menu {
    @include media-query($small) {
      display: none;
    }
  }

  .header__list {
    display: flex;
    flex-wrap: wrap;
    padding: 32px 24px;
    column-gap: 48px;
    row-gap: 10px;
  }

  .header__item {
    transition: $transition-duration;

    &:hover {
      color: $color-link-hover;
    }

    &:last-child {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: -10%;
        left: -10%;
        width: 120%;
        height: 120%;
        background: $color-primary;
        transition: $transition-duration;
        opacity: 0;
        visibility: hidden;
        z-index: 0;
      }

      &:hover {
        &:after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  .header__item--active:active {
    background: $color-primary;
    font-weight: $fw-bold;
  }

  .header__link {
    position: relative;
    z-index: 1;
    color: inherit;
    line-height: 150%;
  }
}