.hero-dribbble {
  padding: 120px 0;

  @include media-query($medium-down) {
    padding: 80px 0;
  }

  @include media-query($extra-small) {
    padding: 64px 0;
  }
}

.hero-dribbble__container {
  max-width: 1076px;
  margin: 0 auto;
}

.hero-dribbble__text-content {
  display: flex;
  flex-direction: column;
  gap: 120px;
  max-width: 636px;

  @include media-query ($medium-down) {
    max-width: 100%;
  }

  @include media-query($extra-small) {
    gap: 40px;
  }
}

.hero-dribbble__img-container {
  position: relative;
  width: 100%;
  margin: 156px 0 0;
  padding-bottom: 640px;

  @include media-query($medium-down) {
    padding-bottom: 480px;
  }

  @include media-query($extra-small) {
    margin: 100px 0 0;
  }
}

.hero-dribbble__img-header {
  position: absolute;
  display: flex;
  align-items: center;
  top: -36px;
  width: 100%;
  padding: 12px 40px;
  background: $color-level-one;
  border-radius: 8px 8px 0 0;
}

.hero-dribbble__img-header-item {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  background: $color-light-grey;
  border-radius: 50%;
}

.hero-dribbble__img-header-item::before,
.hero-dribbble__img-header-item::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  background: $color-light-grey;
  border-radius: 50%;
}

.hero-dribbble__img-header-item::before {
  left: -18px;
}

.hero-dribbble__img-header-item::after {
  right: -18px;
}

.hero-dribbble__img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}