@include media-query($large-up) {

  .logo__image:hover {
    color: $color-hover;
  }

  .link:hover {
    color: $color-hover;
  }

  .social-network__icon:hover {
    width: 35px;
    height: 35px;
  }

  .ticker__icon:hover {
    color: $color-hover;
  }

  .button:hover {
    background: $color-primary;
  }
}