/*@font-face {
	font-family: 'FONT_NAME';
	src: url('../fonts/FONT_PATH.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
*/
@font-face {
  font-family: 'Sen', sans-serif;
  src: url(../../fonts/Sen-Regular.ttf) format('trutype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sen', sans-serif;
  src: url(../../fonts/Sen-Bold.ttf) format('trutype');
  font-weight: 700;
  font-style: Bold;
  font-display: swap;
}